.divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider--line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.20); /* content.04Through */
  width: 100%;
}

.divider--thick-line {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.20); /* content.04Through */
  width: calc(100% - 32px);
  margin: 0 12px;
  border-radius: 1px;
}

.divider--with-label {
  gap: 8px;
}

.divider--with-label .divider__line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.20); /* content.04Through */
  flex-grow: 1;
}

.divider__label {
  font-size: 16px;
  line-height: 90%;
  margin-bottom: 2px;
  width: fit-content;
  color: rgba(0, 0, 0, 0.40); /* content.03Through */
} 